@font-face {
    font-family: "Actay-Regular";
    src: url("../fonts/Actay-Regular.otf") format('otf'); 
    font-style: normal; 
    font-weight: normal;
  }
@font-face {
    font-family: "ActayCondensed-Thin";
    src: url("../fonts/ActayCondensed-Thin.otf") format('otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ActayWide-Bold";
    src: url("../fonts/ActayWide-Bold.otf") format('otf');
    font-style: normal;
    font-weight: normal;
}
